extend layout

block content
	h1 Jobs available
	li Jobs
	li More Jobs
	li Need photographers
	li Event on Friday, need experienced photographers

	if jobs
		each job in jobs
			.panel.panel-primary
							.panel-heading #{job.title} | Written by: 
							.panel-body #{job.summary}