doctype html
html
	head
		title CamUnity
		link(rel="stylesheet", href="../public/css/bootstrap.min.css")
		link(rel="stylesheet", href="../public/css/style.css")
		script(src="../public/lib/jquery-2.1.3.min.js")
		script(src="../public/lib/bootstrap.min.js")

	body
		.container
			block content

	footer
		hr
		.container
			p.text-muted CaMunity.co