extend layout

block content
	h1 Profile page
	.profilepicture 
		img(src="https://avatars3.githubusercontent.com/u/10106517?v=3&s=460")
	.details
		li Jason
		li Luu
		li 
			a(href='http://www.jasonspd.github.io') My website
		li This is me, I'm not really a photographer...