h1 {
	color: white;
	font-weight: bold;
	text-align: right;
	font-size: 80px;
	font-family: Geneva;
}

.login.col-md-6 {
	padding-top: 200px;
	text-align: center;
}

body {
	background-image: url("https://unsplash.imgix.net/photo-1422222948315-28aadb7a2cb8?q=75&fm=jpg&s=cfeadbd7a991e58b553bee29a7eeca55");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-bottom: 25px;
}

a.btn {
	font-weight:bold;
}



.div {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
}

h3 {
/*	text-decoration: underline;
*/	text-transform: uppercase;
	font-size: 1.75em;
	font-weight: 800;
	color: #333333;
}

/*.panel {
	background-color: transparent;
}
.panel-primary {
	border-color: #333333;
}

.panel-primary>.panel-heading {
		background-color: #333333;
		border-color: transparent;
		opacity: 0.8;
}

.panel-body {
	background-color: white;
	opacity: 0.9;
}

p.text-muted {
	color: #333333;
	font-size: 1.1em;
}

.posts {
	color: white;
	font-size: 1em;
	line-height: 25px;
}
.hidden {
	display: none;
}*/